<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <!-- <mat-card-header>
            <mat-card-title>Message</mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
            <mat-card-title>You are not allowed to access this Page!</mat-card-title>

        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button class="btn-block  extra" (click)="backClicked()" type="button"
                color="primary">Ok</button>
        </mat-card-actions>

    </mat-card>
</div>