.example-spacer {
    flex: 1 1 auto;
  }

  mat-nav-list{
    padding: 25px;
    width: 18rem;
  }
  
    
    mat-sidenav-container.mat-drawer-container.mat-sidenav-container.mat-drawer-transition.mat-drawer-container-has-open {
      height: 100%;
  }  
