.example-spacer {
  flex: 1 1 auto;
}
.menubutton {
  background-color: #0288d1;
}
.white-icon {
  color: white;
}
mat-nav-list {
  padding: 25px 0;
  width: 18rem;
}

mat-sidenav-container.mat-drawer-container.mat-sidenav-container.mat-drawer-transition.mat-drawer-container-has-open {
  height: 100%;
}
mat-menu,
.menuBox {
  width: 8;
}
.username{
  padding: inherit;
  text-transform: uppercase;
}