<mat-toolbar color="stroke">

    <h1> Permission Portal</h1>



    <span class="example-spacer"></span>

    <span>{{global}}</span>

    <button pButton pRipple label="Manage User" icon="pi pi-sign-out" class="p-button-success p-mr-2"
        routerLink="/manageuser"></button>

    <button pButton pRipple label="Product List" icon="" class="p-button-success p-mr-2" routerLink="/table"></button>

    <button pButton pRipple label="Logout" icon="pi pi-sign-out" class="p-button-success p-mr-2"
        routerLink="/"></button>
</mat-toolbar>