<h2 mat-dialog-title>Manage User</h2>

<mat-dialog-content [formGroup]="dialogform" class="class">
  <div>
    <mat-form-field>
      <input matInput placeholder="Full Name" type="text" formControlName="fullname" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Username" type="text" formControlName="username" />
      <mat-error>Please enter a valid username</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Phone Number" type="text" formControlName="phonenumber" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" formControlName="email" />
    </mat-form-field>
  </div>
  <div>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" [type]="hide ? 'password' : 'text'"
        formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="dialogform.hasError('required', 'password')">
        Please enter your password
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm Password" formControlName="confirmpassword"
        [type]="hide2 ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="dialogform.hasError('required', 'confirmpassword')">
        Please enter your confirm password
      </mat-error>
      <mat-error *ngIf="dialogform.hasError('confirmedPasswordValidator')">
        Password and confirm password not matched
      </mat-error>
    </mat-form-field>

  </div>

  <div>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select multiple formControlName="roles" >
        <mat-select-trigger>
          {{roles.value ? roles.value[0] : ''}}
          <span *ngIf="roles.value?.length > 1" >
            +{{roles.value.length - 1}} {{roles.value?.length === 2 ? 'more' : 'More'}}
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let skill of Roles" [value]="skill">
          {{skill}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Team</mat-label>
      <mat-select multiple formControlName="team">
        <mat-select-trigger>
          {{team.value ? team.value[0] : ''}}
          <span *ngIf="team.value?.length > 1" >
            +{{team.value.length - 1}} {{team.value?.length === 2 ? 'more' : 'Mores'}}
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let skill of Team" [value]="skill">
          {{skill}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Route</mat-label>
    <mat-select multiple formControlName="route" >
      <!-- <mat-select-trigger>
        {{route.value ? route.value[0] : ''}}
        <span *ngIf="route.value?.length > 1" >
          +{{route.value.length - 1}} {{route.value?.length === 2 ? 'more' : 'More'}}
        </span>
      </mat-select-trigger> -->
      <mat-option *ngFor="let skill of Route" [value]="skill">
        {{skill.path}}
      </mat-option>
    </mat-select>


  </mat-form-field>
  <mat-checkbox formControlName="permission">
    Allow Login Permission
  </mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button pButton style="margin-right: 5px;" class="p-button-danger" (click)="onClose()">Close</button>
  <button pButton class="p-button-info" [disabled]="dialogform.invalid" (click)="onSave()">Save</button>
</mat-dialog-actions>