<h2 mat-dialog-title>User Details</h2>

<mat-dialog-content [formGroup]="dialogform" class="class">
  <mat-form-field>
    <input matInput placeholder="Email" type="email" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" formControlName="password" />
  </mat-form-field>

  <mat-checkbox color="primary" class="button" formControlName="permission">
    Allow Login Permission
  </mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button style="margin-right: 5px;" mat-raised-button class="mat-raised-button" (click)="onClose()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="onSave()">Save</button>
</mat-dialog-actions>