.p-button, .p-button-success {
  margin: 0px 5px 0 0;
  
}

.fixed{
width: 8rem;
}
:host ::ng-deep {
.p-paginator {
  .p-paginator-current {
      margin-left: auto !important;
  }
}

}  

.example-spacer {
flex: 1 1 auto;
}

.p-sortable-column-icon .pi .pi-fw .pi-sort-alt{
font-size: smaller !important;
}