<!-- LOGIN FORM  -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="userlogin">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" autocomplete="off" formControlName="email" name="email">
          <mat-error>Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password" name="password">
          <mat-error>Please enter a password</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button class="btn-block  extra" type="button" (click)="onLogin()"
          color="primary">Login</button>
      </mat-card-actions>
    </form>
    <div class="center-button">
      <button class="c-btn" type="button" (click)="redirectToRegisterForm()" color="primary">Sign Up |</button>
      <button type="button" (click)="redirectToForgotpasswordForm()" class="c-btn">Forgot Password |</button>
      <button type="button" (click)="redirectToResetpasswordForm()" class="c-btn">Reset Password</button>
    </div>
  </mat-card>
</div>
<!-- LOGIN FORM END -->

<!-- SIGNUP FORM -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="userregister">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signupForm" class="example-form">
      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" formControlName="email" name="email">
          <mat-error *ngIf="signupForm.hasError('required', 'email')">
            Please enter a valid email
          </mat-error>
          <mat-error *ngIf="signupForm.hasError('register', 'email')">
            Duplicate Email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="signupForm.hasError('required', 'password')">
            Please enter your password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm Password" formControlName="confirmpassword" type="password">
          <mat-error *ngIf="signupForm.hasError('required', 'confirmpassword')">
            Please enter your confirmpassword password
          </mat-error>
          <mat-error *ngIf="signupForm.hasError('confirmedPasswordValidator', 'confirmpassword')">
            Password and confirm password not matched
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" type="button" (click)="onRegister()" class="btn-block  extra">Sign
          Up</button>

      </mat-card-actions>
      <div class="center-button">
        <button type="button" (click)="redirectToLoginForm()" class="c-btn">Go Back</button>
      </div>
    </form>
  </mat-card>
</div>
<!-- SIGNUP FORM END -->


<!-- FORGOT PASSWORD FORM -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="userforgot">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <form [formGroup]="forgotPasswordForm" class="example-form">
      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" formControlName="email" name="email">
          <mat-error *ngIf="forgotPasswordForm.hasError('required', 'email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
        <div *ngIf="show">
          <p>Your password is: {{fill}}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" type="button" (click)="onForgotpassword()"
          class="btn-block  extra">Submit</button>

      </mat-card-actions>
      <div class="center-button">
        <button type="button" (click)="redirectToLoginForm()" class="c-btn">Go Back</button>
      </div>
    </form>
  </mat-card>
</div>
<!-- FORGOT PASSWORD FORM END -->

<!-- RESET PASSWORD FORM -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="resetpassword">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Reset password</mat-card-title>
    </mat-card-header>
    <form [formGroup]="resetPasswordForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" formControlName="email" name="email">
          <mat-error *ngIf="resetPasswordForm.hasError('required', 'email')">
            Please enter a valid email
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.hasError('register', 'email')">
            Duplicate Email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="newpassword">
          <mat-error *ngIf="resetPasswordForm.hasError('required', 'newpassword')">
            Please enter your password
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm Password" formControlName="confirmnewpassword" type="password">
          <mat-error *ngIf="resetPasswordForm.hasError('required', 'confirmnewpassword')">
            Please enter your confirmpassword password
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.hasError('confirmedPasswordValidator', 'confirmnewpassword')">
            Password and confirm password not matched
          </mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" type="button" (click)="onResetPassword()"
          class="btn-block  extra">Reset</button>

      </mat-card-actions>
      <div class="center-button">
        <button type="button" (click)="redirectToLoginForm()" class="c-btn">Go Back</button>
      </div>
    </form>
  </mat-card>
</div>
<!-- RESET PASSWORD END -->