.p-button, .p-button-success {
        margin: 0px 5px 0 0;
        
    }
    
.fixed{
    width: 8rem;
}
:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto !important;
        }
    }
     
}  

.example-spacer {
    flex: 1 1 auto;
  }

  .pi-sort-alt:before {
    font-size: smaller !important;
}
.pi-sort-amount-down:before {
    font-size: smaller !important;
}
.pi{
    font-size: smaller !important;
}
.p-sortable-column-icon .pi .pi-fw .pi-sort-alt{
    font-size: smaller !important;
}