.p-button, .p-button-success {
        margin: 0px 5px 0 0;
        .p-button, .p-button-success {
            background-color: #4d80cc;
        }
    }

.fixed{
    width: 8rem;
}
:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto !important;
        }
    }
     
}   
