<p-toolbar>
    <input pInputText type="text" #input (input)="grid.filterGlobal(input.value,'contains')" placeholder="search..." />
    <span class="example-spacer"></span>
    <button pButton pRipple label="New" icon="pi pi-plus" class=" p-button-info "
        (click)="onOpenDialog(true,this.dataService.registerUser)"></button>
</p-toolbar>

<p-table #grid [columns]="permissionCols" class="ds-permission" [value]="this.dataService.registerUser"
    [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,50,100]" [showCurrentPageReport]="true"
    [responsive]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" selectionMode="multiple" dataKey="key_id">


    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th class="fixed">
                Action
            </th>
        </tr>


    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <!-- <span *ngSwitchCase="'id'">{{rowData[col.field]}}</span> -->
                <span *ngSwitchCase="'email'">{{rowData[col.field]}}</span>
                <!-- <span *ngSwitchCase="'username'">{{rowData[col.field]}}</span> -->
                <span *ngSwitchCase="'fullname'">{{rowData[col.field]}}</span>
                <span *ngSwitchCase="'phonenumber'">{{rowData[col.field]}}</span>
                <span *ngSwitchCase="'password'">{{rowData[col.field]}}</span>
                <span *ngSwitchCase="'team'">{{ (rowData[col.field]) }}</span>
                <span *ngSwitchCase="'roles'">{{ (rowData[col.field]) }}</span>
                <span *ngSwitchCase="'permission'">
                    <!-- <p-checkbox [value]="true" binary="true"></p-checkbox> -->
                    <p-checkbox [(ngModel)]="rowData[col.field]" [disabled]="true" [binary]="true"></p-checkbox>
                </span>
            </td>
           
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info "
                    (click)="onOpenDialog(false ,rowData)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded  p-button-danger"
                    (click)="onRemove(rowData)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length + 1" class="t-center">
                No record found
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog [style]="{width:'450px'}"></p-confirmDialog>