.mat-dialog-content {
    display: grid;
    width: 20rem;
    overflow: hidden;
  }
//   .example-radio-group {
//     display: flex;
//     flex-direction: column;
//     margin: 15px 0;
//     align-items: flex-start;
//   }
  
//   .button {
//     margin: 5px;
//   }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #0288d1 !important;
  }
  mat-form-field {
    width: 100%;
    padding: 0 15px;
  }
  .mat-checkbox {
    padding: 0px 15px;
  }
  